/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
}

header {
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #f0f0f0;
    padding: 5px;
    border-radius: 20px;
}

.search-bar input {
    border: none;
    background: none;
    outline: none;
    padding: 5px 10px;
}

.search-bar button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}

.user-actions img {
    margin-left: 10px;
    cursor: pointer;
}



.nav-links li a:hover{
    border-radius: 20px;
    background: #e5e7eb;
    padding: 19x;
    width: 180px;
    height: 40px;
   
}

.user-actions #Bible:hover{
    border-radius: 20px;
    background: #e5e7eb;
    width: auto;
    height: 40px;
   
}
.user-actions a:hover{
    border-radius: 20px;
    background: #e5e7eb;
    width: auto;
    height: 40px;
   
}

.intro {
    text-align: center;
    padding: 50px 20px;
}

.intro h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 18px;
    margin-bottom: 40px;
}

.bible-download-section {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bible-download-section h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.bible-download-section p {
    margin: 10px 0;
    font-size: 1em;
    color: #333;
}

.qr-code-container {
    margin: 20px 0;
}

.qr-code-container img {
    width: 200px;
    height: 200px;
}

.store-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.store-links a img {
    width: 120px;
    height: auto;
}



.content-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.feature {
    max-width: 30%;
}

.feature-icon img {
    width: 50px; 
    height: 50px; 
}

.feature h5 {
    font-size: 0.9em;
    margin: 20px 0;
}

.feature p {
    font-size: 0.8em;
    color: black;
}

.feature a {
    display: block;
    margin-top: 10px;
    color: #1e6fff;
    text-decoration: none;
}

.feature a:hover {
    cursor: pointer;;
}

.verse-of-the-day {
    display: flex;
    align-items: center;
    padding: 20px;
    background-image: url('imagens/blurred-mountains.jpeg'); /* Substitua pelo URL da imagem desejada */
    background-size: cover; /* Para cobrir todo o espaço disponível */
    background-position: center; /* Centraliza a imagem */
    border: 1px solid black; /* Adiciona uma borda azul */
    border-radius: 10px; /* Adiciona cantos arredondados */
    margin: 20px; /* Adiciona um espaço ao redor da seção */
    color: black; /* Altera a cor do texto para branco */
    
}

.verse-image img {
    width: 100%; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */  
    padding: 5px; /* Espaçamento interno */
}



.verse-text {
    flex: 2;
    padding: 20px;
}

.verse-text h3 {
    font-size: 1.2em;
}

.verse-text p {
    font-size: 1em;
    color: black; /* Altera a cor do texto para branco */
}

.verse-text button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: lightgray;
    border-radius: 8px solid lightgray;
    color: black;
    cursor: pointer;

}

.verse-text button:hover {
    background-color: lightgrey;
}

.plans {
    padding: 20px;
    background-color: #f9f9f9;
}



.plan {
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    text-align: center;
}

.plan img {
    max-width: 55%;
}

.feature-icon1{
    display: block;
    text-align: center;
}

.feature-icon1 img {
    width: 50px; 
    height: 50px; 
}

.feature-icon1 h4, p{
    margin-top:  5px;
    margin-bottom: 20px;
}



.plan h3 {
    font-size: 0.9em;
    margin: 10px 0;
}

.plan p, a {
    display: inline;
    font-size: 1em;
    color: #666;
    padding: 10px;
    text-decoration: none;
    
}

.plan a {
    color: #1e6fff;
}


.plan a:hover {
    text-decoration: underline;
}



footer {
    background: #e5e7eb;
    color: #333;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.footer-content1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-intro {
    margin-bottom: 20px;
}

.footer-columns {
    display: block;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.footer-top h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-content{
    padding: 20px;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    margin-left: 490px;
}

.footer-column h2 {
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
}

hr {
    border: 0;
    height: 1px;
    background: #555;
    margin: 20px 0;
}

.footer-bottom1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-left p {
    margin-bottom: 5px;
}

.footer-right a {
    margin-left: 10px;
}

.footer-right img {
    width: 24px;
    height: 24px;
}

.footer-privacy {
    margin-top: 20px;
}

.footer-privacy a {
    text-decoration: none;
    color: #333;
}

.footer-privacy span {
    margin: 0 10px;
    color: #333;
}

/* Responsividade */
@media (max-width: 780px) {
    nav {
        flex-direction: column;
    }

    .nav-links.show {
        display: flex;
    }

    .user-actions {
        justify-content: center;
        margin-top: 10px;
    }

    .intro, .qr-code, .use-anywhere, .reading-plans {
        text-align: left;
        padding: 20px;
    }

    .qr-code {
        flex-direction: column;
    }

    .qr-code img {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .plans-grid {
        grid-template-columns: 1fr;
    }

    .footer-content {
        text-align: center;
    }

    .footer-columns {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 20px;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .footer-left {
        margin-bottom: 20px;
    }
}


/* Responsividade */
@media (max-width: 768px) {
    .content-section, .verse-of-the-day {
        flex-direction: column;
        text-align: center;
    }

    .feature, .plan {
        max-width: 100%;
        width: 100%;
    }

    .plan {
        display: block;
        margin: 10px 0;
    }
}


@media (max-width: 600px) {
    .bible-download-section {
        padding: 15px;
    }

    .bible-download-section h1 {
        font-size: 1.2em;
    }

    .qr-code-container img {
        width: 150px;
        height: 150px;
    }

    .store-links a img {
        width: 100px;
    }
}

@media (max-width: 885px) {
    .footer-bottom {
        flex-direction: column;
        margin: 0px;
    }

    .footer-column {
        flex: 1;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
    }

    .footer-bottom{
        display: flex;
        flex-direction: row;
        padding: 0px;
    }
}

@media (max-width: 768px) {
    .footer-bottom {
        flex-direction: row;
        align-items: flex-start;
    }

   
}
